{% extends "base_layout.html" %} {% block title %}Welcome{% endblock %} {% block head %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('serveStaticResource', resource='css/timeline.css') }}">
<link rel="stylesheet" href="{{ url_for('serveStaticResource', resource='css/morris.css') }}"> {% endblock %} {% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Network Tools</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>


<body>

    <h1>Checklist</h1>

    <form action="{{ url_for('direct_check') }}" name="myform" id="myForm" method="post">
        <select name="state" id="state">
		<option value="" selected="selected">Select state</option>
	  </select>
        <br><br>
        <select name="site" id="site">
		<option value="" selected="selected">Select site </option>
	  </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>

</body>
<script>
    var stateObject = JSON.parse('{{ data | tojson | safe}}');
    console.log(stateObject)
    window.onload = function() {
        var stateSel = document.getElementById("state");
        var siteSel = document.getElementById("site");
        for (var x in stateObject) {
            stateSel.options[stateSel.options.length] = new Option(x, x);
        }
        stateSel.onchange = function() {
            siteSel.length = 1;
            var z = stateObject[stateSel.value];
            for (var i = 0; i < z.length; i++) {
                siteSel.options[siteSel.options.length] = new Option(z[i], z[i]);
            }
        }
    }
</script>
{% endblock %}