</body>
<link rel="stylesheet" href="{{ url_for('serveStaticResource', resource='css/credits.css') }}">

			
<h2>CREDITS</h2> 
	
<div class="courses-container"></div>
		<div class="course">
			<div class="course-preview">
				
				<img src="images/img.gif" alt="Avatar" style="width:100%">
			</div>
			<div class="course-info">
				<h6>Shiva</h6>
				<h2>Principal Network Engineer,TEO<br>
					Providence Global Center,<br>
					Email: shivanand.vishwanath@providence.org<br></h2>
				</div>
		</div>
	</div>
	<div class="courses-container">
	<div class="course">
		<div class="course-preview">
			
			<img src="images/img.gif" alt="Avatar" style="width:100%">
		</div>
		<div class="course-info">
			<h6>Abhinav Krishna</h6>
			<h2>Senior Network Engineer, TEO<br>
				Providence Global Center,<br>
				Email: Abhinava.rallapalli@providence.org <br> </h2>
			
		</div>
	</div>
</div>



<div class="courses-container">
	<div class="course">
		<div class="course-preview">
			
			<img src="images/img.gif" alt="Avatar" style="width:100%">
		</div>
		<div class="course-info">
			<h6>uma</h6>
			<h2>Software Engineer,TEO<br>
				Providence Global Center,<br>
				Email: mylavarapu.hemasri@providence.org <br></h2>
			
		</div>
	</div>
</div>


<div class="courses-container">
	<div class="course">
		<div class="course-preview">
			
			<img src="images/img.gif" alt="Avatar" style="width:100%">
		</div>
		<div class="course-info">
			<h6>Prathima</h6>
			<h2>Software Engineer,TEO<br>
				Providence Global Center,<br>
				Email: prathima.bedadala@providence.org<br></h2>
			
		</div>
	</div>
</div>
</body>